*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
} 

/* warna */
:root {
    --bg-color: #f3efef;
    --btn-color: #3a10e5;
    --main-color: #facb3b;
    --text-color: #000000;
    --span-color: #fff;
}

body {
    background-color: var(--bg-color);
}

/* navbar */
.navbar {
    padding: 20px;
    background-color: #ffff;
    box-shadow: 0px 1px 2px 0px #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .nav ul {
    display: flex;
    align-items: center;
}
.nav ul li a{
    margin-left: 20px;
    align-items: center;
}
.nav ul li a img {
    margin: 0px 0px 0px 5px;
    vertical-align: middle;
}

/* home */
.home {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    align-items: center;
    background-color: var(--bg-color);
}
.home-text{
    margin: 0px 0px 0px 250px;
}
.home-text h1 {
    font-size: 4rem;
}
.home-text p {
    margin: 30px 0px 30px 0px;
    color: #9a9696;
}
.home-text button {
    width: 200px;
    height: 50px;
    background-color: var(--btn-color);
    border: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.home-text button span {
    margin-left: 10px;
    margin-right: 70px;
    color: var(--span-color);
}
.home-img img {
    margin-bottom: 50px
}


/* aducation */
.education {
    padding: 50px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.education li {
    display: flex;
    align-items: center;
}
.education .education-deskripsi {
    margin-left: 20px;
}
.education-deskripsi p {
    margin-top: 10px;
    font-size: 15px;
}


/* course */
.course {
    background-color: var(--bg-color);
    padding-top: 100px;
}
.course .header-box {
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.course h1 span {
    background: linear-gradient(to top, #ffcc00 50%, transparent 50%);
    padding: 0 5px;
}
.header-box .nav-box ul{
    display: flex;
    align-items: center;
}
.nav-box ul li {
    margin: 10px;
}
.nav-box ul li button {
    background-color: transparent;
    border: 0;
    color: #dcdada;
}
.nav-box ul li .active {
    border: 0;
    background-color: rgb(255, 255, 255);
    width: 90px;
    height: 30px;
    box-shadow: 3px 3px 3px 3px;
}
.nav-box ul li .active span {
    color: #000;
}

.course .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    margin-top: 100px;
}
.course .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 280px;
}
.box1 .box {
    width: 300px;
    height: 350px;
    margin: 20px;
    border: 1px solid #afa9a9;
    background-color: transparent;

}
.box1 .box .img-judul {
    position: relative;
    width: 100%;
    height: 200px;
}
.box1 .box .btn-new {
    position: absolute;
    margin: 10px 0px 0px 10px;
    z-index: 1000;
}
.box1 .box p {
    margin: 20px 0px 0px 20px;
    color: var(--btn-color);
}
.box1 .box h2 {
    margin: 10px 0px 0px 20px;
    font-size: 16px;
}
.box1 .box .desk {
    margin: 10px 0px 0px 20px;
    display: flex;
    align-items: center;
}
.box1 .box .desk .desk-copy {
    margin-left: 10px
}


.course .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 280px;
    margin-top: 100px;
}
.box2 .box {
    width: 300px;
    height: 350px;
    margin: 20px;
    border: 1px solid #afa9a9;
    background-color: transparent;

}
.box2 .box .img-judul {
    position: relative;
    width: 100%;
    height: 200px;
}
.box2 .box .btn-new {
    position: absolute;
    margin: 10px 0px 0px 10px;
    z-index: 1000;
}
.box2 .box p {
    margin: 20px 0px 0px 20px;
    color: var(--btn-color);
}
.box2 .box h2 {
    margin: 10px 0px 0px 20px;
    font-size: 16px;
}
.box2 .box .desk {
    margin: 10px 0px 0px 20px;
    display: flex;
    align-items: center;
}
.box2 .box .desk .desk-copy {
    margin-left: 10px
}


/* membership */
.membership{
    margin-top: 150px;
    height: 250px;
    background-color: #faca3b9b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.membership img {
    width: 190px;
    height: auto;
}
.membership h1 {
    font-size: 2.5rem;
}
.membership button {
    width: 200px;
    height: 40px;
    background-color: var(--btn-color);
    border: 0;
    border-radius: 5px;
}
.membership button span {
    color: var(--span-color);
    margin-right: 50px;
}


/* kategori */
.kategori {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.kategori h1 {
    margin-top: 100px;
}
.kategori h1 .text-back {
    background: linear-gradient(to top, #ffcc00 50%, transparent 50%);
    padding: 0 5px;
}

.content-kategori {
    margin: 50px 0px 0px 100px;
}
.content-kategori .box1 {
    display: flex;
    align-items: center;
    width: 90%;
    height: 280px;
}
.content-kategori .box1 li {
    width: 300px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}
.content-kategori .box1 li .border-img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: var(--bg-color);
    margin-left: 20px;
}
.content-kategori .box1 li .border-img img {
    width: 40px;
    height: auto;
    margin: 15px 0px 0px 15px;
}
.content-kategori .box1 li .desk {
    margin-left: 20px;
}

.content-kategori .box2 {
    display: flex;
    align-items: center;
    width: 90%;
    height: 280px;
    margin-top: -100px;
}
.content-kategori .box2 li {
    width: 300px;
    height: 100px;
    background-color: #fff;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.content-kategori .box2 li .border-img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: var(--bg-color);
    margin-left: 20px;
}
.content-kategori .box2 li .border-img img {
    width: 40px;
    height: auto;
    margin: 15px 0px 0px 15px;
}
.content-kategori .box2 li .desk {
    margin-left: 20px;
}
.kategori h4 {
    color: #3a10e5;
    font-weight: 600;
    margin-top: -10px;
}
.kategori h4 img {
    margin: 0px 0px -3px 10px;
}


/* business */
.business {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.business .content-business {
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 1100px;
    height: 450px;
    background-color: #3b10e524;
    border-radius: 5px;
}
.content-business .business-img img{
    margin-left: 100px;
}
.content-business .business-text h1 {
    font-size: 3rem;
}
.content-business .business-text p {
    margin-top: 20px;
    color: #9a9696;
}
.content-business .business-text button {
    background-color: var(--btn-color);
    color: #fff;
    margin-top: 20px;
    width: 150px;
    height: 35px;
    border: 0;
    border-radius: 3px;
}


/* event */

.event {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}
.event h1 {
    text-align: center;
}
.event h1 span {
    background: linear-gradient(to top, #ffcc00 50%, transparent 50%);
    padding: 0 5px;
}
.event .content-event {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 400px;
    margin: 60px 0px 0px 0px;
}
.content-event .box{
    width: 380px;
    height: 450px;
    margin: 10px;
}
.content-event .box img {
    width: 100%;
    height: 250px;
}
.content-event .box .event-desk {
    display: flex;
    align-items: center;
}
.content-event .box .event-desk .event-tanggal {
    margin-left: 10px;
    width: 70px;
    border-right: 1px solid #9a9696;
}
.content-event .box .event-desk .event-tanggal  h2 {
    color: #3a10e5;
    font-size: 30px;
    text-align: center;
}
.content-event .box .event-desk .event-tanggal  p {
    color: #b5b4b4;
    margin-left: 10px;
}
.content-event .box .event-desk .desk-img-event {
    width: 20px;
    height: auto;
    margin: 10px;
}
.content-event .box h3 {
    font-size: 25px;
}


/* footer */
.footer {
    margin-top: 20px;
    background-color: #090e22;
    
}
.footer .footer-desk {
    display: flex;
    justify-content: space-around;
}
.footer-desk li {
    margin-top: 50px;
    color: #fff;
}
.footer-desk li .p {
    margin-top: 50px;
    color: #9a9696;
}
.footer-desk li p {
    margin-top: 20px;
    color: #9a9696;
}
.footer-desk li .sosmed {
    margin-top: 10px;
    display: flex;
}
.footer-desk li .sosmed img{
    margin: 10px;
}
.footer-desk li .a {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
}
.footer-desk li .a img {
    margin: 10px 0px 0px 10px;
}
.footer .hr {
    margin-top: 50px;
    height: 1px;
    width: 85%;
    background-color: #9a999b24;
    margin-left: 100px;
}
.footer .footer-desk2 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.footer-desk2 ul {
    display: flex;
    margin-left: 100px;
}
.footer-desk2 ul li {
    color: #ffff;
    margin: 10px;
}
.footer-desk2 p {
    color: #fff;
    margin-right: 130px;
}